/****** Object:  Table [dbo].[Sale_Change_Item_Detail]    Script Date: 4/4/2023 11:22:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale_Change_Item_Detail](
	[SaleChangeItemDetailID] [bigint] IDENTITY(1,1) NOT NULL,
	[SaleID] [bigint] NOT NULL,
	[SaleCode] [nvarchar](250) NULL,
	[ItemBarcode] [nvarchar](4000) NULL,
	[ItemID] [bigint] NULL,
	[ItemCode] [bigint] NULL,
	[ItemName] [nvarchar](250) NULL,
	[GoldType] [nvarchar](250) NULL,
	[TotalWeight] [money] NULL,
	[GoldWeight] [money] NULL,
	[StoneWeight] [money] NULL,
	[Price] [money] NULL,
	[Amount] [money] NULL,
	[Descriptions] [nvarchar](250) NULL,
	[IsDeleted] [bit] NULL,
	[CreatedUserID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedUserID] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[DeletedUserID] [int] NULL,
	[DeletedDate] [datetime] NULL,
 CONSTRAINT [PK_SaleChangeItemDetaill] PRIMARY KEY CLUSTERED 
(
	[SaleChangeItemDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
