USE [master]
GO
/****** Object:  Database [PrintBarcode]    Script Date: 7/6/2024 10:13:43 AM ******/
CREATE DATABASE [PrintBarcode]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PrintBarcode', FILENAME = N'E:\Database\PrintBarcode.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PrintBarcode_log', FILENAME = N'E:\Database\PrintBarcode_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PrintBarcode].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PrintBarcode]
GO
USE [PrintBarcode]
GO
/****** Object:  Table [dbo].[BarcodeDetail]    Script Date: 7/6/2024 10:13:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BarcodeDetail](
	[BarcodeID] [bigint] IDENTITY(1,1) NOT NULL,
	[BarcodeUnique] [uniqueidentifier] NULL,
	[BarcodeString] [nvarchar](250) NULL,
	[ItemID] [bigint] NULL,
	[ItemName] [nvarchar](250) NULL,
	[GoldType] [nvarchar](250) NULL,
	[GoldSign] [nvarchar](250) NULL,
	[Size] [nvarchar](250) NULL,
	[TotalWeight] [money] NULL,
	[StoneWeight] [money] NULL,
	[GoldWeight] [money] NULL,
	[Expense] [money] NULL,
	[SupplierID] [bigint] NULL,
	[SupplierName] [nvarchar](250) NULL,
	[SupplierAddress] [nvarchar](250) NULL,
	[SupplierStandardNo] [nvarchar](250) NULL,
	[Origin] [nvarchar](250) NULL,
	[CompanyID] [bigint] NULL,
	[CompanyName] [nvarchar](250) NULL,
	[CompanyAddress] [nvarchar](250) NULL,
	[CompanyStandardNo] [nvarchar](250) NULL,
	[WeightDisplayFormat] [nvarchar](250) NULL,
	[TemplatePath] [nvarchar](4000) NULL,
	[IsDeleted] [bit] NULL,
	[DeteletedUserID] [int] NULL,
	[DeletedDate] [datetime] NULL,
	[CreatedUserID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedUserID] [int] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_PrintBarcodeDetail] PRIMARY KEY CLUSTERED 
(
	[BarcodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BarcodeTemplate]    Script Date: 7/6/2024 10:13:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BarcodeTemplate](
	[BarcodeTemplateID] [bigint] IDENTITY(1,1) NOT NULL,
	[BarcodeTemplateName] [nvarchar](250) NULL,
	[BarcodeTemplatePath] [nvarchar](4000) NULL,
	[IsDefault] [bit] NULL,
	[Remark] [nvarchar](250) NULL,
	[IsDeleted] [bit] NULL,
	[DeletedUserID] [int] NULL,
	[DeletedDate] [datetime] NULL,
	[CreatedUserID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedUserID] [int] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_BarcodeTemplate] PRIMARY KEY CLUSTERED 
(
	[BarcodeTemplateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 7/6/2024 10:13:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyID] [bigint] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](250) NULL,
	[CompanyAddress] [nvarchar](250) NULL,
	[CompanyStandardCode] [nvarchar](250) NULL,
	[TaxCode] [nvarchar](250) NULL,
	[Phone] [nvarchar](250) NULL,
	[Fax] [nvarchar](250) NULL,
	[Email] [nvarchar](250) NULL,
	[FormatStringDefault] [nvarchar](250) NULL,
	[IsDefault] [bit] NULL,
	[Remark] [nvarchar](250) NULL,
	[IsDeleted] [bit] NULL,
	[DeletedUserID] [int] NULL,
	[DeletedDate] [datetime] NULL,
	[CreatedUserID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedUserID] [int] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 7/6/2024 10:13:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierID] [bigint] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](250) NULL,
	[SupplierAddress] [nvarchar](250) NULL,
	[SupplierBaseStandardNo] [nvarchar](250) NULL,
	[Remark] [nvarchar](250) NULL,
	[IsDeleted] [bit] NULL,
	[DeletedUserID] [int] NULL,
	[DeletedDate] [datetime] NULL,
	[CreatedUserID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedUserID] [int] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
