.vs
Phan_Mem_Quan_Ly_In_Tem/bin/Debug/QuanLyInTem.rar
/Phan_Mem_Goi_Message_Sang_Cong_Com/obj/Debug
/Phan_Mem_Quan_Ly_Cam_Do/bin/Debug
/Phan_Mem_Quan_Ly_Cam_Do/obj/Debug
/Phan_Mem_Quan_Ly_Can_Xe_Tai/obj/Debug
/Phan_Mem_Quan_Ly_In_Tem/obj/Debug
/Quan_Ly_Kinh_Doanh_Trang_Suc/obj/Debug/TempPE
/Quan_Ly_Kinh_Doanh_Trang_Suc/obj/Debug
