<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Quan_Ly_Kinh_Doanh_Trang_Suc.Properties.Settings.Quan_Ly_Kinh_Doanh_Trang_Suc_ConnectionString" connectionString="Data Source=(local);Initial Catalog=Quan_Ly_Kinh_Doanh_Trang_Suc;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Quan_Ly_Kinh_Doanh_Trang_SucEntities" connectionString="metadata=res://*/Database.EF_Database_Sale_Jewellery_Manage.csdl|res://*/Database.EF_Database_Sale_Jewellery_Manage.ssdl|res://*/Database.EF_Database_Sale_Jewellery_Manage.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Quan_Ly_Kinh_Doanh_Trang_Suc;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>